{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
       <table align="center">
            <tr>
                <th>
                    {% include 'title.html' %}
                </th>
            </tr>
            <tr>
                <th>
                    {% include 'ac_officer/officer_menu.html' %}
                </th>
            </tr>
            <tr><Td></Td></tr>
            <tr><Td></Td></tr>
            <tr><Td></Td></tr>
            <tr>
                <th>
                    <h1> Pending </h1>
                </th>
            </tr>
       </table>
</body>
</html>