


{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
       <table align="center">
            <tr>
                <th>
                    {% include 'title.html' %}
                </th>
            </tr>
            <tr>
                <th>
                    {% include 'ac_admin/admin_menu.html' %}
                </th>
            </tr>
           <tr>
               <th>
                   <h3>Complaint Menu Options</h3>
                   <table align="center" border="2">
                       <tr><th height="50">
                           <a href="{% url 'admin_pending_complaints' %}">
                           Pending Complaints
                           </a>
                       </th></tr>
                       <tr><th height="50">
                           <a href="{% url 'admin_assigned_complaints' %}">
                           Assigned Complaints
                           </a>
                       </th></tr>
                       <tr><th height="50">

                           <a href="{% url 'admin_closed_complaints' %}">
                           Closed Complaints
                           </a>
                       </th></tr>
                   </table>
               </th>
           </tr>
            <tr>
                           <th>
                               {% for message in messages %}
                                     {{ message }}
                                {% endfor %}
                           </th>
                       </tr>
        </table>
</body>
</html>
